<%- include("partials/header"); -%>
    <h1>Developer's Contact</h1>
    <p>Name : Prins Kamariya</p>
    <p>Email : kamriyaprince@gmail.com</p>
    <a href="https://github.com/prins2003">Github</a>
    
<%- include("partials/footer"); -%>
